body {
  background: #53507E;
}

header {
  height: 37px;
  width: 1100px;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 115px;
}

.logo {
  height: 37px;
}

nav {
  float: right;
}

nav a{
  margin-top: 12px;
  font-size: 12px;
  margin-left: 35px;
  font-weight: 800;
  font-family: ‘Raleway’, sans-serif;
  color: #B1AEDE;
}

nav a:hover {
  color: white;
}

nav a:active {
  color: white;
  border-bottom: solid;
  border-bottom-color: #FF8ED8;
}

.left {
  width: 550px;
  float: left;
}

.right {
  width: 550px;
  float: left;
}

h1 {
  font-family: ‘Raleway’, sans-serif;
  font-weight: 800;
  font-size: 52px;
  color: white;
  line-height: 56px;
  margin-bottom: 35px;
}

h2 {
  font-family: ‘Roboto Slab’, serif;
  font-weight: 400;
  font-size: 20px;
  color: #B1AEDE;
  margin-bottom: 120px;
}

button {
  height: 80px;
  padding: 30px 45px;
  border-radius: 40px;
  box-shadow: 0 0 30px rgba(255, 142, 216, 0.75);
  background-color: #FF8ED8;
  font-family: ‘Raleway’, sans-serif;
  font-weight: 800;
  font-size: 24px;
  color: white;
}

button:hover {
  box-shadow: 0 0 30px rgba(64, 61, 101, 0.75);
  color: #403D65;
}

footer {
  margin-top: 100px;
  height: 105px;
  background-color: #403D65;
}

.topRow{
  width: 1100px;
  height: 34px;
  padding: 10px 0px;
}

.footnav a{
  font-family: ‘Raleway’, sans-serif;
  font-weight: 800;
  font-size: 12px;
  color: #B1AEDE;
  margin-right: 35px;
  margin-top: 10px;
}

.social img{
  width: 34px;
  margin-left: 1px;
  float: right;
}

.social:hover img{
  opacity: 0.75;
}

.bottomRow {
  height: 35px;
  margin-top: 15px;
  font-family: ‘Roboto Slab’, serif;
  font-weight: 600;
  font-size: 12px;
  color: #B1AEDE;
  text-align: center;
}